@font-face {
  font-family: 'amatic_scbold';
  src: url('../fonts/amatic/AmaticSC-Bold-webfont.eot');
  src: url('../fonts/amatic/AmaticSC-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/amatic/AmaticSC-Bold-webfont.woff2') format('woff2'),
       url('../fonts/amatic/AmaticSC-Bold-webfont.woff') format('woff'),
       url('../fonts/amatic/AmaticSC-Bold-webfont.ttf') format('truetype'),
       url('../fonts/amatic/AmaticSC-Bold-webfont.svg#amatic_scbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroregular';
  src: url('../fonts/hero/Hero-webfont.eot');
  src: url('../fonts/hero/Hero-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hero/Hero-webfont.woff2') format('woff2'),
       url('../fonts/hero/Hero-webfont.woff') format('woff'),
       url('../fonts/hero/Hero-webfont.ttf') format('truetype'),
       url('../fonts/hero/Hero-webfont.svg#heroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arialblack';
  src: url('../fonts/arial/ariblk-webfont.eot');
  src: url('../fonts/arial/ariblk-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arial/ariblk-webfont.woff2') format('woff2'),
       url('../fonts/arial/ariblk-webfont.woff') format('woff'),
       url('../fonts/arial/ariblk-webfont.ttf') format('truetype'),
       url('../fonts/arial/ariblk-webfont.svg#arialblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot');
  src: url('../fonts/montserrat/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/Montserrat-Bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat/Montserrat-Bold-webfont.woff') format('woff'),
       url('../fonts/montserrat/Montserrat-Bold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;

}