body {
  color: #474747;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  position: relative;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}
img {
  max-width: 100%;
  width: 100%;
}
a {
  color: #0080c8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #004f7c;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
.more-link {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 9px;
}
@media (min-width: 768px) {
  .more-link {
    font-size: 12px;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
label {
  font-weight: normal;
  margin-bottom: 8px;
}
label span.require {
  font-size: 30px;
}
.form-control,
.btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.btn {
  border: 0;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 60px;
  height: 48px;
  line-height: 48px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
}
.btn-primary,
.btn-default {
  background: #0080c8;
}
.btn-primary:hover,
.btn-default:hover,
.btn-primary:focus,
.btn-default:focus,
.btn-primary.focus,
.btn-default.focus {
  background: #0073b4;
}
.btn-secondary {
  background: #e0071f;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  background: #cc061c;
}
.form-control {
  border: 1px solid #d8d8d8;
  padding: 0 15px;
  font-size: 18px;
}
input.form-control {
  height: 48px;
  line-height: 48px;
}
.custom-select {
  position: relative;
}
.select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* With the padding included, the width is 190 pixels: the actual width of the image. */
  height: 48px;
  line-height: 48px;
  padding: 0 40px 0 17px;
  background: #e8e8e8 url("../images/select-angle-down.png") center right no-repeat;
  overflow: hidden;
}
select.styled {
  border: 0;
  box-shadow: none;
  height: 48px;
  padding: 0 40px 0 17px;
  font-size: 18px;
  color: #474747;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.25;
}
/* One Page Nav */
.one-page-nav {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 100;
}
@media (min-width: 768px) {
  .one-page-nav {
    top: 300px;
    right: 20px;
  }
}
@media (min-width: 992px) {
  .one-page-nav {
    top: 410px;
    right: 30px;
  }
}
@media (min-width: 1200px) {
  .one-page-nav {
    right: 50px;
  }
}
.one-page-nav ul li {
  position: relative;
  text-align: center;
  line-height: 0;
  min-height: 30px;
}
.one-page-nav ul li a {
  margin: 6px;
  background-color: #e0071f;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
  width: 15px;
  position: relative;
  z-index: 99;
}
.one-page-nav ul li a:hover {
  margin: 3px 0 0 0;
  height: 22px;
  width: 22px;
}
.one-page-nav ul li .tooltip {
  font-family: "montserratbold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-right: 30px;
  font-size: 10px;
}
@media (min-width: 768px) {
  .one-page-nav ul li .tooltip {
    font-size: 16px;
  }
}
.one-page-nav ul li .tooltip .tooltip-arrow {
  display: none;
}
.one-page-nav ul li .tooltip .tooltip-inner {
  background: #fff;
  color: #474747;
  white-space: nowrap;
  max-width: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 0;
  padding-bottom: 0;
}
.one-page-nav ul li.current a {
  margin: 3px 0 0 0;
  height: 22px;
  width: 22px;
}
/* Header*/
/*------*/
header.site-header {
  padding-top: 10px;
}
@media (max-width: 767px) {
  header.site-header .logo-left {
    padding-left: 17px;
  }
}
header.site-header .logo-left a {
  float: left;
  margin: 10px 0 0 0;
}
@media (max-width: 767px) {
  header.site-header .logo-left a {
    width: 100%;
  }
}
@media (min-width: 768px) {
  header.site-header .logo-left a {
    margin: 40px 0 0 0;
  }
}
@media (min-width: 992px) {
  header.site-header .logo-left a {
    margin: 26px 0 0 0;
  }
}
@media (max-width: 767px) {
  header.site-header .logo-left img {
    width: 53px;
  }
}
@media (max-width: 767px) {
  header.site-header .text-center {
    padding: 0 0 0 5px;
  }
}
header.site-header .text-center h1,
header.site-header .text-center h2 {
  font-family: "amatic_scbold", Arial, Helvetica, sans-serif;
  font-size: 29px;
  margin: 14px 0 0 0;
}
@media (max-width: 767px) {
  header.site-header .text-center h1,
  header.site-header .text-center h2 {
    line-height: 1;
  }
}
@media (min-width: 768px) {
  header.site-header .text-center h1,
  header.site-header .text-center h2 {
    font-size: 70px;
    margin: 35px 0 0 0;
    letter-spacing: 6px;
  }
}
@media (min-width: 992px) {
  header.site-header .text-center h1,
  header.site-header .text-center h2 {
    font-size: 93px;
    margin: 10px 0 0 0;
  }
}
header.site-header .text-center h4 {
  font-family: "heroregular", Arial, Helvetica, sans-serif;
  font-size: 7px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  header.site-header .text-center h4 {
    font-size: 18px;
    margin: -17px 0 0 0;
    letter-spacing: 1px;
  }
}
@media (min-width: 992px) {
  header.site-header .text-center h4 {
    font-size: 24px;
    margin: -17px 0 0 0;
  }
}
@media (max-width: 767px) {
  header.site-header .logo-right {
    padding: 0 5px 0 15px;
  }
}
header.site-header .logo-right a {
  float: right;
}
@media (max-width: 767px) {
  header.site-header .logo-right img {
    width: 33px;
  }
}
/* Menu */
/*------*/
.navbar-toggle {
  margin: 15px 0 0 0;
  padding: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    margin: 75px 0 0 0;
  }
}
.navbar-toggle .icon-bar {
  background: #e0071f;
  width: 32px;
  height: 4px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.navbar-main-menu {
  background: #e0071f;
  margin: 22px 0 0 0;
  border: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
@media (max-width: 991px) {
  .navbar-main-menu {
    min-height: 0;
  }
}
@media (max-width: 991px) {
  .navbar-main-menu .container {
    padding: 0;
    width: auto;
  }
}
.navbar-main-menu .navbar-collapse {
  padding: 0;
}
@media (max-width: 991px) {
  .navbar-main-menu .navbar-collapse {
    margin: 0;
    border: 0;
  }
}
.navbar-main-menu .navbar-nav {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}
@media (max-width: 991px) {
  .navbar-main-menu .navbar-nav {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .navbar-main-menu .navbar-nav > li {
    border-bottom: 1px solid #fff;
  }
}
@media (min-width: 992px) {
  .navbar-main-menu .navbar-nav > li {
    margin: 0 26px 0 0;
  }
}
@media (min-width: 1200px) {
  .navbar-main-menu .navbar-nav > li {
    margin: 0 54px 0 0;
  }
}
.navbar-main-menu .navbar-nav > li:last-child {
  margin: 0;
}
.navbar-main-menu .navbar-nav > li > a {
  color: #fff;
  padding: 11px 17px;
  text-shadow: none;
}
@media (min-width: 992px) {
  .navbar-main-menu .navbar-nav > li > a {
    padding: 17px 0;
  }
}
.navbar-main-menu .navbar-nav > li > a:hover,
.navbar-main-menu .navbar-nav > li > a:focus {
  background: none;
  color: #fbb900;
}
.navbar-main-menu .navbar-nav > li.active a {
  color: #fbb900;
}
/*Banner Image & Slider */
/* Light slider */
/*-------------*/
/** /!!! core css Should not edit !!!/**/
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.lightSlider:before,
.lightSlider:after {
  content: " ";
  display: table;
}
.lightSlider {
  overflow: hidden;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.lSSlideWrapper > .lightSlider:after {
  clear: both;
}
.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform, height;
  transition-property: transform, height;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
.lSSlideWrapper .lSFade {
  position: relative;
}
.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/
/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  text-indent: -999em;
  width: 14px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #9fa0a1;
}
.lSSlideOuter .media {
  opacity: 0.8;
}
.lSSlideOuter .media.active {
  opacity: 1;
}
/* End of pager */
/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
  opacity: 0.7;
  overflow: hidden;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  opacity: 1;
}
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before,
.lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}
/* End of Gallery*/
/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
  opacity: 1;
}
.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}
.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}
.lSAction > a.disabled {
  pointer-events: none;
}
.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}
/* vertical */
.lSSlideOuter.vertical {
  position: relative;
}
.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}
/* vertical */
/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl;
}
.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider,
.lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}
.lSSlideOuter .lightSlider > *,
.lSSlideOuter .lSGallery li {
  float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,
.lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}
/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
/* Main Content */
/*------------------------*/
.site-main {
  padding-bottom: 60px;
}
.section-container {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  clear: both;
}
/* Block Video */
/*------------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-video {
  color: #0080c8;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .section-video .video {
    width: 68.427%;
  }
  .section-video .video-desc {
    width: 31.573%;
  }
}
.section-video .video-desc {
  text-align: center;
}
@media (min-width: 768px) {
  .section-video .video-desc {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .section-video .video-desc {
    padding-left: 20px;
  }
}
.section-video .video-desc .entry-header {
  margin: 20px 0 18px 0;
}
@media (min-width: 768px) {
  .section-video .video-desc .entry-header {
    margin: 0 0 18px 0;
  }
}
@media (min-width: 992px) {
  .section-video .video-desc .entry-header {
    margin: 36px 0 18px 0;
  }
}
.section-video .video-desc .entry-header .entry-title {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-video .video-desc .entry-header .entry-title {
    margin-top: 0;
  }
}
.section-video .video-desc .entry-content p {
  line-height: 1.25;
}
.section-photo {
  margin-bottom: 46px;
  background: url("../images/content-image1-l.jpg") repeat fixed 50% 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .section-photo {
    height: 476px;
  }
}
.section-photo-content .article-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 992px) {
  .section-photo-content .article-wrapper {
    width: 794px;
  }
}
.section-photo-content .article-wrapper .entry-header {
  margin-bottom: 26px;
}
.section-photo-content .article-wrapper .entry-header .entry-title {
  margin: 0;
  color: #0080c8;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-photo-content .article-wrapper .entry-header .entry-title {
    font-size: 40px;
  }
}
.section-photo-content .article-wrapper .entry-content p {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .section-photo-content .article-wrapper .entry-content p {
    line-height: 1.6;
  }
}
.section-photo-quote {
  margin-top: 44px;
  position: relative;
  background: url("../images/content-image2-l.jpg") repeat fixed 50% 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .section-photo-quote {
    height: 570px;
  }
}
.section-photo-quote .quote-wrapper {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
}
@media (min-width: 768px) {
  .section-photo-quote .quote-wrapper {
    bottom: 185px;
  }
}
@media (min-width: 794px) {
  .section-photo-quote .quote-wrapper {
    bottom: 165px;
  }
}
.section-photo-quote .quote-wrapper .quote {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .section-photo-quote .quote-wrapper .quote {
    width: 768px;
  }
}
@media (min-width: 794px) {
  .section-photo-quote .quote-wrapper .quote {
    width: 794px;
  }
}
.section-photo-quote .quote-wrapper .quote blockquote {
  margin: 0;
  padding: 0;
  border-left: 0;
  color: #fff;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
}
@media (min-width: 768px) {
  .section-photo-quote .quote-wrapper .quote blockquote {
    font-size: 50px;
  }
}
@media (min-width: 794px) {
  .section-photo-quote .quote-wrapper .quote blockquote {
    font-size: 60px;
  }
}
.section-photo-quote .quote-wrapper .quote blockquote p {
  margin: 0;
}
.section-photo-quote .quote-wrapper .quote blockquote footer {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
@media (min-width: 768px) {
  .section-photo-quote .quote-wrapper .quote blockquote footer {
    font-size: 35px;
  }
}
@media (min-width: 794px) {
  .section-photo-quote .quote-wrapper .quote blockquote footer {
    font-size: 42px;
  }
}
.section-photo-quote .quote-wrapper .quote blockquote footer::before {
  content: "";
}
.section-2-col {
  margin-top: 24px;
}
.section-2-col .head-col {
  margin-bottom: 28px;
}
.section-2-col .head-col h3 {
  color: #0080c8;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-2-col .head-col h3 {
    font-size: 30px;
  }
}
.section-2-col .items-col ul li {
  margin-bottom: 20px;
}
.section-2-col .items-col ul li .item-image {
  padding-right: 0;
}
@media (min-width: 1200px) {
  .section-2-col .items-col ul li .item-image {
    width: 199px;
  }
}
.section-2-col .items-col ul li .item-article {
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .section-2-col .items-col ul li .item-article {
    width: 375px;
  }
}
.section-2-col .items-col ul li .entry-meta {
  font-size: 12px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .section-2-col .col-events {
    padding-left: 30px;
  }
}
.section-donate {
  position: relative;
  background: url("../images/content-image3-l.jpg") repeat fixed 50% 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .section-donate {
    height: 570px;
  }
}
.section-donate .donate-wrapper {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.section-donate .donate-wrapper .circle-text {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  padding: 100px 20px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 79, 110, 0.8);
  background: rgba(0, 79, 110, 0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .section-donate .donate-wrapper .circle-text {
    width: 506px;
    height: 506px;
    padding: 96px 30px 0;
  }
}
.section-donate .donate-wrapper .circle-text p {
  line-height: 1.35;
  margin-bottom: 40px;
}
.section-donate .donate-wrapper .circle-text h4 {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
}
.section-3-col {
  margin-top: 24px;
}
.section-3-col .col-1-left {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .section-3-col .col-1-left {
    padding-right: 37px;
    margin-bottom: 0;
  }
}
.section-3-col .col-2-center {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .section-3-col .col-2-center {
    padding-left: 24px;
    padding-right: 22px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .section-3-col .col-3-right {
    padding-left: 37px;
  }
}
.article-list .entry-thumbnail {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .article-list .entry-thumbnail {
    margin-bottom: 37px;
  }
}
.article-list .entry-header {
  margin-bottom: 14px;
}
.article-list .entry-header .entry-title {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}
.article-list .entry-header .entry-title a {
  color: #474747;
}
.article-list .entry-body p {
  line-height: 1.45;
}
.article-list .entry-body .more-link {
  color: #e0071f;
}
/*Footer*/
/*-----*/
.site-footer {
  position: relative;
  background: #fbb900;
  color: #000;
  padding-top: 35px;
  padding-bottom: 85px;
}
.site-footer .wap-back-to-top {
  position: absolute;
  top: -33px;
  left: 0;
  width: 100%;
  text-align: center;
}
.site-footer .scrollToTop {
  width: 64px;
  height: 64px;
  background: url("../images/btn-back-top.png") center center no-repeat;
  text-indent: -9999em;
  display: inline-block;
}
.site-footer .footer-col .head {
  margin-top: 40px;
  margin-bottom: 15px;
}
.site-footer .footer-col .head .title {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
@media (min-width: 1200px) {
  .site-footer .footer-col.footer-col-1 {
    padding-right: 45px;
  }
}
.site-footer .footer-col.footer-col-1 span {
  width: 100%;
  display: block;
}
.site-footer .footer-col.footer-col-1 span.web {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .site-footer .footer-col.footer-col-2 {
    padding-left: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-footer .footer-col.footer-col-3 {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .site-footer .footer-col.footer-col-3 {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .site-footer .footer-col.footer-col-4 {
    padding-left: 20px;
    padding-right: 0;
  }
}
.site-footer .footer-col .content .more-link {
  color: #000;
  display: inline-block;
  margin-top: 10px;
}
.site-footer .footer-col .footer-crest {
  font-size: 14px;
}
.site-footer .footer-col .footer-crest img {
  margin-bottom: 10px;
  width: auto;
}
.site-footer .social {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
.site-footer .social li {
  float: left;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .site-footer .social li {
    margin-right: 25px;
  }
}
@media (min-width: 992px) {
  .site-footer .social li {
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .site-footer .social li {
    margin-right: 25px;
  }
}
.site-footer .social li:last-child {
  margin-right: 0;
}
.site-footer .social li img {
  width: auto;
}
/* Sub Page */
/*-----------------------------*/
.page-header {
  border-bottom: 0;
  margin: 52px 0 0 0;
  padding-bottom: 0;
  text-align: center;
}
.page-header h2 {
  margin: 0;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #0080c8;
  line-height: 1;
}
.page-filter {
  margin-top: 45px;
}
@media (min-width: 768px) {
  .page-filter .search-month,
  .page-filter .search-year {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .page-filter .btn-search {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .page-filter .btn-search button.btn {
    margin-top: 33px;
  }
}
.wrap-list-article {
  margin-top: 65px;
}
.wrap-list-article.article-list .entry-thumbnail {
  margin-bottom: 14px;
}
.wrap-list-article.article-list .entry-body p {
  line-height: 1.6;
}
.wrap-list-article ul.grid-article li.item-article {
  margin-bottom: 55px;
}
.wrap-list-article .entry-meta {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 4px;
}
.wrap-list-article .load-more {
  width: 100%;
  text-align: center;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0;
}
.wrap-list-article .load-more a {
  color: #e0071f;
}
/* News Article */
/*-------------*/
.page-navigation {
  padding-top: 12px;
}
@media (min-width: 1200px) {
  .page-navigation {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.page-navigation .page-navigation-link {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #e0071f;
  text-transform: uppercase;
}
.content-area {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .content-area {
    margin-top: 73px;
    margin-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .content-area.article-page {
    padding: 0 0 0 0;
  }
}
.content-area .entry-thumbnail {
  margin-bottom: 15px;
}
.content-area .entry-header {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .content-area .entry-header {
    margin-bottom: 46px;
  }
}
.content-area .entry-header .entry-meta {
  font-size: 15px;
}
.content-area .entry-header .entry-title {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  color: #0080c8;
}
@media (min-width: 992px) {
  .content-area .entry-header .entry-title {
    font-size: 40px;
    line-height: 1;
  }
}
.content-area .entry-body .entry-content {
  line-height: 1.6;
}
.content-area .entry-body .entry-content a {
  font-weight: bold;
}
.content-area .entry-body .entry-content h1,
.content-area .entry-body .entry-content h2,
.content-area .entry-body .entry-content h3,
.content-area .entry-body .entry-content h4,
.content-area .entry-body .entry-content h5,
.content-area .entry-body .entry-content h6 {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  margin: 12px 0;
}
.content-area .entry-body .entry-content img {
  margin: 27px 0;
}
/* Contact Page */
/*-------------*/
.contact-form .form-group label {
  margin-bottom: 4px;
}
.contact-form .form-group textarea.form-control {
  height: 380px;
  resize: vertical;
}
.contact-form button.btn {
  margin-top: 4px;
  padding: 0 46px;
}
/*DungHM: Add new css */
#section-new-landing-banner {
  background: url("../images/news-landing-banner-2.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-new-landing-banner {
    height: 1011px;
  }
}
#section-contact-us-banner {
  background: url("../images/contact-us-banner.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-contact-us-banner {
    height: 1011px;
  }
}
/*Registration page*/
.registration-info.content-area {
  margin-top: 52px;
}
.registration-info.content-area .entry-header {
  margin-bottom: 33px;
}
#section-registration-banner {
  background: url("../images/registration.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-registration-banner {
    height: 1011px;
  }
}
.registration {
  float: none;
  padding-bottom: 50px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #474747;
}
/* Default Template */
/*------------------*/
#section-default-banner {
  background: url("../images/default-template.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-default-banner {
    height: 1011px;
  }
}
.default-template.content-area {
  margin-top: 50px;
}
.default-template.content-area .entry-header {
  margin-bottom: 35px;
}
/*Raffle Page*/
/*------------*/
#section-raffle-banner {
  background: url("../images/raffle-banner.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-raffle-banner {
    height: 1011px;
  }
}
.layoyt-2-col {
  margin-bottom: 35px;
}
.layoyt-2-col .content-area {
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .layoyt-2-col .content-area {
    padding-right: 50px;
  }
}
.layoyt-2-col .content-area .entry-header {
  margin-bottom: 35px;
}
.layoyt-2-col .images-area {
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .layoyt-2-col .images-area {
    padding-left: 0;
  }
}
.layoyt-2-col .images-area img {
  margin: 20px 0;
}
/*Events Page*/
/*------------*/
#section-events-banner {
  background: url("../images/event_banner.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-events-banner {
    height: 1011px;
  }
}
.wrap-event-item-list.wrap-list-article {
  margin-top: 5px;
}
.wrap-event-item-list.wrap-list-article .event-item-list {
  border-top: 1px solid #dadada;
  padding-top: 90px;
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .event-left {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .event-left .col-md-5 {
    width: 39%;
  }
}
@media (min-width: 1200px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .event-left .col-md-7 {
    width: 61%;
    padding-left: 18px;
    padding-right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .event-right {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .event-right {
    width: 20%;
  }
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .entry-thumbnail {
  margin-bottom: 24px;
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .entry-meta {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 8px;
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .entry-body {
  font-size: 15px;
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link {
  margin-top: 33px;
}
@media (min-width: 992px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link {
    margin: 33px 0 0 6px;
  }
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li {
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
}
@media (min-width: 768px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li {
    width: 32%;
  }
}
@media (min-width: 992px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li {
    width: 100%;
  }
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li a {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #e0071f;
  float: left;
  display: table;
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li a img {
  float: left;
  width: 45px;
  height: 45px;
  margin: 0 12px 0 0;
}
.wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li a span {
  display: table-cell;
  height: 45px;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .wrap-event-item-list.wrap-list-article .event-item-list .event-item .action-link li a span {
    width: 155px;
  }
}
/*Gallery*/
#section-gallery-banner {
  background: url("../images/gallery_banner.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-gallery-banner {
    height: 1011px;
  }
}
.filter-line {
  border-bottom: 1px solid #e8e8e8;
}
.filter-line .filter-group {
  float: none;
  margin: 0 auto;
}
.slide {
  width: 33.33333%;
  float: left;
  padding: 5px;
}
.slide img {
  margin: 0;
}
.slide.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
#slideshow img {
  margin: 0;
}
.controls {
  width: 100%;
  padding: 10px;
}
.controls a {
  text-transform: uppercase;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  color: #e0071f;
  font-size: 13px;
}
.controls .prev {
  float: left;
}
.controls .next {
  float: right;
}
.image-show {
  padding-top: 5px ;
}
.entry-caption {
  width: 100%;
  margin-bottom: 50px;
}
.image-date {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.image-title {
  margin: 0;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #0080c8;
}
.gallery-filter .container .form-group {
  margin-bottom: 9px;
}
.wrap-gallery-view .gallery-view {
  border-top: 1px solid #e8e8e8;
  padding-top: 48px;
}
.wrap-gallery-view .gallery-view .title {
  margin-bottom: 20px;
}
.wrap-gallery-view .gallery-view .title .image-date {
  margin: 0;
}
.fluid-width-video-wrapper {
  min-height: 521px;
}
/*More info page*/
#section-info-banner {
  background: url("../images/info-banner.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-info-banner {
    height: 1011px;
  }
}
.wrap-info-view {
  padding-top: 4px;
}
.wrap-info-view .info-view {
  border-top: 1px solid #e8e8e8;
  padding-top: 43px;
}
@media (min-width: 1200px) {
  .wrap-info-view .info-view .col-right .block-head {
    padding-left: 20px;
  }
}
.wrap-info-view .info-view .block {
  margin-bottom: 22px;
}
.wrap-info-view .info-view .block-head {
  margin: 0 0 24px 0;
}
.wrap-info-view .info-view .block-head h2 {
  font-family: "montserratbold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #d1040e;
  text-transform: uppercase;
  margin: 0;
}
.wrap-info-view .info-view .block-list-link .block-head {
  margin-bottom: 16px;
}
.wrap-info-view .info-view .block-list-link .block-head h2 {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
}
.wrap-info-view .info-view .block-list-link ul li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
}
.wrap-info-view .info-view .block-list-link ul li:before {
  content: "•";
  color: #e0071f;
  position: absolute;
  top: 13px;
  left: 0;
  font-size: 37px;
  line-height: 0;
}
.wrap-info-view .info-view .block-list-link ul li a {
  color: #474747;
}
.wrap-info-view .info-view .icon {
  width: 45px;
  height: 45px;
  float: left;
}
.wrap-info-view .info-view .info-entry {
  float: left;
  margin: 10px 0 10px 12px;
  width: 81%;
}
@media (min-width: 1200px) {
  .wrap-info-view .info-view .info-entry {
    width: 60%;
  }
}
.wrap-info-view .info-view .info-entry .entry-header {
  margin: 0 0 13px 0;
}
.wrap-info-view .info-view .info-entry .entry-header .entry-title {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
.wrap-info-view .info-view .info-entry .entry-header .entry-title a {
  color: #000000;
}
.wrap-info-view .info-view .info-entry .entry-body {
  line-height: 1.5;
}
.wrap-info-view .info-view .info-entry .entry-body p.desc {
  line-height: 1;
  margin: 0;
}
.wrap-info-view .info-view .info-entry .action-link {
  color: #d1040e;
}
.wrap-info-view .info-view .visit-site .info-entry .entry-header,
.wrap-info-view .info-view .watch-link .info-entry .entry-header {
  margin: 0;
}
.wrap-info-view .info-view .info-link {
  width: 100%;
  max-width: 100%;
  margin-bottom: 32px;
}
.wrap-info-view .info-view .article-list .entry-date {
  font-size: 12px;
}
.wrap-info-view .info-view-article-list .info-item {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .wrap-info-view .info-view-article-list .wrap-entry-thumbnail {
    width: 38.5%;
  }
}
.wrap-info-view .info-view-article-list .wrap-entry-thumbnail .entry-thumbnail {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .wrap-info-view .info-view-article-list .wrap-entry-thumbnail .entry-thumbnail {
    padding: 0px 0 0 20px;
  }
}
@media (min-width: 1200px) {
  .wrap-info-view .info-view-article-list .wrap-contnet {
    width: 61%;
  }
}
.wrap-info-view .info-view-article-list .wrap-contnet .entry-meta {
  margin-bottom: 14px;
}
@media (min-width: 992px) {
  .wrap-info-view .info-view-article-list .wrap-contnet .entry-meta {
    margin-top: -9px;
  }
}
.wrap-info-view .info-view-article-list .wrap-contnet .entry-header {
  margin-bottom: 5px;
}
/* Slider Bottom */
#section-info-banner-bootom {
  background: url("../images/info-banner-bottom.jpg") repeat fixed center 100%;
  height: 150px;
}
@media (min-width: 768px) {
  #section-info-banner-bootom {
    height: 568px;
  }
}
.banner-slider-bottom {
  margin-bottom: 2px;
}
/* The Pilgrimage */
#section-thepilgrimage-banner {
  background: url("../images/thepilgrimage-banner.jpg") repeat fixed center 100%;
  height: 300px;
}
@media (min-width: 768px) {
  #section-thepilgrimage-banner {
    height: 1011px;
  }
}
.article-list-title {
  text-align: center;
  padding-top: 37px;
  margin-bottom: 56px;
}
.article-list-title h2 {
  margin: 0;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #0080c8;
  line-height: 1.2;
}
.section-thepilgrimage-2col {
  background: url("../images/bkg-block-thepilgrimage.png") no-repeat center top;
}
@media (min-width: 1200px) {
  .section-thepilgrimage-2col .article-list-left {
    padding: 0 30px 0 7px;
  }
}
@media (min-width: 1200px) {
  .section-thepilgrimage-2col .article-list-right {
    padding: 0 7px 0 30px;
  }
}
.article-list-2 .featured-article {
  margin-bottom: 71px;
}
.article-list-2 .entry-thumbnail {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .article-list-2 ul {
    margin-left: -10px;
  }
}
.article-list-2 ul li {
  padding: 0 0 0 30px;
  margin-bottom: 30px;
  background: url("../images/icon-article-list.png") no-repeat left top;
}
.article-list-2 ul li .entry-header {
  margin-bottom: 3px;
}
.article-list-2 ul li .entry-header .entry-title {
  font-size: 18px;
}
.article-list-2 ul li .entry-body p {
  line-height: 1.6;
}
.article-list-3 .col-xs-12 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .article-list-3 .col-xs-12 {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .article-list-3 .wrap-entry-thumbnail {
    padding-right: 0;
  }
}
.article-list-3 .wrap-entry-content {
  padding-left: 22px;
}
.article-list-3 .wrap-entry-content .entry-header {
  margin-bottom: 2px;
}
.article-list-3 .wrap-entry-content .entry-header .entry-title {
  font-size: 18px;
  text-transform: none;
  line-height: 1;
}
.section-text .entry-header {
  margin-bottom: 26px;
}
.section-text .entry-header .entry-title {
  margin: 0;
  color: #0080c8;
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .section-text .entry-header .entry-title {
    font-size: 40px;
  }
}
.section-text .entry-content p {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .section-text .entry-content p {
    line-height: 1.6;
  }
}
/* Image */
#thepilgrimage-image {
  background: url("../images/thepilgrimage-banner-1.jpg") repeat fixed center 100%;
  height: 150px;
}
@media (min-width: 768px) {
  #thepilgrimage-image {
    height: 568px;
  }
}
.section-link .section-link-inner {
  border-top: 1px solid #dadada;
  padding-top: 50px;
}
.section-link .section-link-inner .col-xs-12 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-link .section-link-inner .col-xs-12 {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-link .section-link-inner .wrap-entry-thumbnail {
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .section-link .section-link-inner .wrap-entry-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
  }
}
.section-link .section-link-inner .wrap-entry-content .entry-header {
  margin-bottom: 10px;
}
.section-link .section-link-inner .wrap-entry-content .entry-header .entry-title {
  font-family: "arialblack", Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-link .section-link-inner .wrap-entry-content .entry-header .entry-title {
    font-size: 14px;
  }
}
.section-link .section-link-inner .wrap-entry-content .entry-header .entry-title a {
  color: #474747;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-link .section-link-inner .wrap-entry-content .entry-body {
    font-size: 14px;
  }
}
