// VARIABLES & MIXINS
// ------------------
// Core variables and mixins
@import "variables.less";
@import "mixins";

body {
  color: @text-color;
  font-family: @font-family-base;
  font-size: @font-size-base - 4;
  line-height: @line-height-base;
  position: relative;
  @media (min-width: @screen-sm-min) {
    font-size: @font-size-base - 2;
  }
  @media (min-width: @screen-md-min) {
    font-size: @font-size-base;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

// Links
a {
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }

  &:focus {
    outline: 0;
  }
}

.more-link {
  font-family: @font-family-arialblack;
  text-transform: uppercase;
  font-size: 9px;
  @media (min-width: @screen-sm-min) {
    font-size: 12px;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  font-weight: normal;
  margin-bottom: 8px;

  span.require {
    font-size: 30px;
  }
}

.form-control, .btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.btn {
  border: 0;
  font-family: @font-family-arialblack;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 60px;
  height: 48px;
  line-height: 48px;

  &:hover, &:focus, &.focus {
    color: #fff;
  }
}

.btn-primary, .btn-default {
  background: @brand-primary;

  &:hover, &:focus, &.focus {
    background: darken(@brand-primary, 4%);
  }
}

.btn-secondary {
  background: @brand-secondary;

  &:hover, &:focus, &.focus {
    background: darken(@brand-secondary, 4%);
  }
}

.form-control {
  border: 1px solid #d8d8d8;
  padding: 0 15px;
  font-size: @font-size-base;
}

input.form-control {
  height: 48px;
  line-height: 48px;
}

.custom-select {
  position: relative;
}

.select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* With the padding included, the width is 190 pixels: the actual width of the image. */
  height: 48px;
  line-height: 48px;
  padding: 0 40px 0 17px;
  background: #e8e8e8 url("../images/select-angle-down.png") center right no-repeat;
  overflow: hidden;
}

select.styled {
  border: 0;
  box-shadow: none;
  height: 48px;
  padding: 0 40px 0 17px;
  font-size: @font-size-base;
  color: @text-color;
}

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: @headings-line-height;
}

/* One Page Nav */
.one-page-nav {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 100;
  @media (min-width: @screen-sm-min) {
    top: 300px;
    right: 20px;
  }

  @media (min-width: @screen-md-min) {
    top: 410px;
    right: 30px;
  }

  @media (min-width: @screen-lg-min) {
    right: 50px;
  }

  ul {
    li {
      position: relative;
      text-align: center;
      line-height: 0;
      min-height: 30px;
      a {
        margin: 6px;
        background-color: #e0071f;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        height: 15px;
        overflow: hidden;
        text-indent: -999em;
        width: 15px;
        position: relative;
        z-index: 99;

        &:hover {
          margin: 3px 0 0 0;
          height: 22px;
          width: 22px;
        }
      }

      .tooltip {
        font-family: @font-family-montserratbold;
        text-transform: uppercase;
        text-align: left;
        margin-right: 30px;
        font-size: 10px;
        @media (min-width: @screen-sm-min) {
          font-size: 16px;
        }

        .tooltip-arrow {
          display: none;
        }

        .tooltip-inner {
          background: #fff;
          color: @text-color;
          white-space: nowrap;
          max-width: none;
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
          border-radius: 0px;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &.current {
        a {
          margin: 3px 0 0 0;
          height: 22px;
          width: 22px;
        }
      }
    }
  }
}

/* Header*/
/*------*/
header.site-header {
  padding-top: 10px;

  .logo-left {
    @media (max-width: @screen-xs-max) {
      padding-left: 17px;
    }
    a {
      float: left;
      margin: 10px 0 0 0;
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }
      @media (min-width: @screen-sm-min) {
        margin: 40px 0 0 0;
      }
      @media (min-width: @screen-md-min) {
        margin: 26px 0 0 0;
      }
    }

    img {
      @media (max-width: @screen-xs-max) {
        width: 53px;
      }
    }
  }

  .text-center {
    @media (max-width: @screen-xs-max) {
      padding: 0 0 0 5px;
    }
    h1, h2 {
      font-family: @font-family-amaticbold;
      font-size: 29px;
      margin: 14px 0 0 0;
      @media (max-width: @screen-xs-max) {
        line-height: 1;
      }

      @media (min-width: @screen-sm-min) {
        font-size: 70px;
        margin: 35px 0 0 0;
        letter-spacing: 6px;
      }

      @media (min-width: @screen-md-min) {
        font-size: 93px;
        margin: 10px 0 0 0;
      }
    }

    h4 {
      font-family: @font-family-hero;
      font-size: 7px;
      text-transform: uppercase;
      margin: 0;
      @media (min-width: @screen-sm-min) {
        font-size: 18px;
        margin: -17px 0 0 0;
        letter-spacing: 1px;
      }

      @media (min-width: @screen-md-min) {
        font-size: 24px;
        margin: -17px 0 0 0;
      }
    }
  }

  .logo-right {
    @media (max-width: @screen-xs-max) {
      padding: 0 5px 0 15px;
    }

    a {
      float: right;
    }

    img {
      @media (max-width: @screen-xs-max) {
        width: 33px;
      }
    }
  }
}

/* Menu */
/*------*/
.navbar-toggle {
  margin: 15px 0 0 0;
  padding: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;

  @media (min-width: @screen-sm-min) {
    margin: 75px 0 0 0;
  }

  .icon-bar {
    background: @brand-secondary;
    width: 32px;
    height: 4px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}

.navbar-main-menu {
  background: #e0071f;
  margin: 22px 0 0 0;
  border: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;

  @media (max-width: @screen-sm-max) {
    min-height: 0;
  }

  .container {
    @media (max-width: @screen-sm-max) {
      padding: 0;
      width: auto;
    }
  }

  .navbar-collapse {
    padding: 0;
    @media (max-width: @screen-sm-max) {
      margin: 0;
      border: 0;
    }
  }

  .navbar-nav {
    font-family: @font-family-arialblack;
    text-transform: uppercase;
    font-size: 13px;

    @media (max-width: @screen-sm-max) {
      margin: 0;
    }

    > li {
      @media (max-width: @screen-sm-max) {
        border-bottom: 1px solid #fff;
      }

      @media (min-width: @screen-md-min) {
        margin: 0 26px 0 0;
      }

      @media (min-width: @screen-lg-min) {
        margin: 0 54px 0 0;
      }

      &:last-child {
        margin: 0;
      }
      > a {
        color: #fff;
        padding: 11px 17px;
        text-shadow: none;
        @media (min-width: @screen-md-min) {
          padding: 17px 0;
        }

        &:hover, &:focus {
          background: none;
          color: #fbb900;
        }
      }

      &.active {
        a {
          color: #fbb900;
        }
      }
    }
  }
}

/*Banner Image & Slider */

/* Light slider */
/*-------------*/

/** /!!! core css Should not edit !!!/**/
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table;
}

.lightSlider {
  overflow: hidden;
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.lSSlideWrapper > .lightSlider:after {
  clear: both;
}

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform, height;
  transition-property: transform, height;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}

.lSSlideWrapper .lSFade {
  position: relative;
}

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}

.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}

/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  text-indent: -999em;
  width: 14px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #9fa0a1;
}

.lSSlideOuter .media {
  opacity: 0.8;
}

.lSSlideOuter .media.active {
  opacity: 1;
}

/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
  opacity: 0.7;
  overflow: hidden;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  opacity: 1;
}

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}

/* End of Gallery*/

/* slider actions */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
//  background-image: url('../img/controls.png');
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

.lSAction > a:hover {
  opacity: 1;
}

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}

.lSAction > a.disabled {
  pointer-events: none;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

/* vertical */
.lSSlideOuter.vertical {
  position: relative;
}

.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

/* vertical */

/* Rtl */
.lSSlideOuter.lSrtl {
  direction: rtl;
}

.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}

.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
  float: left;
}

.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}

/* Rtl */

@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }

  50% {
    left: -15px;
  }

  100% {
    left: 0;
  }
}

@keyframes rightEnd {
  0% {
    left: 0;
  }

  50% {
    left: -15px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }

  50% {
    top: -15px;
  }

  100% {
    top: 0;
  }
}

@keyframes topEnd {
  0% {
    top: 0;
  }

  50% {
    top: -15px;
  }

  100% {
    top: 0;
  }
}

@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}

@keyframes leftEnd {
  0% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -15px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes bottomEnd {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -15px;
  }

  100% {
    bottom: 0;
  }
}

.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

/* Main Content */
/*------------------------*/
.site-main {
  padding-bottom: 60px;
}

.section-container {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  clear: both;
}

/* Block Video */
/*------------*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section-video {
  color: #0080c8;
  margin-top: 20px;

  @media (min-width: @screen-lg-min) {
    .video {
      width: 68.427%;
    }

    .video-desc {
      width: 31.573%;
    }
  }

  .video {
  }

  .video-desc {
    text-align: center;
    @media (min-width: @screen-sm-min) {
      text-align: right;
    }

    @media (min-width: @screen-md-min) {
      padding-left: 20px;
    }

    .entry-header {
      margin: 20px 0 18px 0;
      @media (min-width: @screen-sm-min) {
        margin: 0 0 18px 0;
      }
      @media (min-width: @screen-md-min) {
        margin: 36px 0 18px 0;
      }
      .entry-title {
        font-family: @font-family-arialblack;
        font-size: 30px;
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          margin-top: 0;
        }
      }
    }

    .entry-content {
      p {
        line-height: 1.25;
      }
    }
  }
}

.section-photo {
  margin-bottom: 46px;
  background: url("../images/content-image1-l.jpg") repeat fixed 50% 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 476px;
  }
}

.section-photo-content {
  .article-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @media (min-width: @screen-md-min) {
      width: 794px;
    }
    .entry-header {
      margin-bottom: 26px;
      .entry-title {
        margin: 0;
        color: #0080c8;
        font-family: @font-family-arialblack;
        font-size: 30px;
        text-transform: uppercase;
        @media (min-width: @screen-sm-min) {
          font-size: 40px;
        }
      }
    }

    .entry-content {
      p {
        margin-bottom: 25px;
        @media (min-width: @screen-sm-min) {
          line-height: 1.6;
        }
      }
    }
  }
}

.section-photo-quote {
  margin-top: 44px;
  position: relative;
  background: url("../images/content-image2-l.jpg") repeat fixed 50% 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 570px;
  }

  .quote-wrapper {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;

    @media (min-width: @screen-sm-min) {
      bottom: 185px;
    }

    @media (min-width: 794px) {
      bottom: 165px;
    }

    .quote {
      width: 100%;
      margin: 0 auto;
      text-align: center;

      @media (min-width: @screen-sm-min) {
        width: @screen-sm-min;
      }

      @media (min-width: 794px) {
        width: 794px;
      }

      blockquote {
        margin: 0;
        padding: 0;
        border-left: 0;
        color: #fff;
        font-family: @font-family-arialblack;
        font-size: 24px;
        line-height: 1;

        @media (min-width: @screen-sm-min) {
          font-size: 50px;
        }

        @media (min-width: 794px) {
          font-size: 60px;
        }

        p {
          margin: 0;
        }

        footer {
          color: #fff;
          font-family: @font-family-base;
          font-size: 20px;

          @media (min-width: @screen-sm-min) {
            font-size: 35px;
          }

          @media (min-width: 794px) {
            font-size: 42px;
          }

          &::before {
            content: "";
          }
        }
      }
    }
  }
}

.section-2-col {
  margin-top: 24px;
  .head-col {
    margin-bottom: 28px;
    h3 {
      color: @brand-primary;
      font-family: @font-family-arialblack;
      font-size: 26px;
      margin: 0;
      text-transform: uppercase;
      @media (min-width: @screen-sm-min) {
        font-size: 30px;
      }
    }
  }

  .items-col {
    ul {
      li {
        margin-bottom: 20px;
        .item-image {
          padding-right: 0;
          @media (min-width: @screen-lg-min) {
            width: 199px;
          }
        }

        .item-article {
          padding-left: 20px;
          @media (min-width: @screen-lg-min) {
            width: 375px;
          }
        }

        .entry-meta {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .entry-content {
        }
      }
    }
  }

  .col-events {
    @media (min-width: @screen-lg-min) {
      padding-left: 30px;
    }
  }
}

.section-donate {
  position: relative;
  background: url("../images/content-image3-l.jpg") repeat fixed 50% 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 570px;
  }

  .donate-wrapper {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;

    .circle-text {
      width: 240px;
      height: 240px;
      margin: 0 auto;
      padding: 100px 20px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      background-color: rgba(0, 79, 110, 0.8);
      background: rgba(0, 79, 110, 0.8);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;

      @media (min-width: @screen-sm-min) {
        width: 506px;
        height: 506px;
        padding: 96px 30px 0;
      }

      p {
        line-height: 1.35;
        margin-bottom: 40px;
      }

      h4 {
        font-family: @font-family-arialblack;
        font-size: 30px;
        margin: 0;
      }
    }
  }
}

.section-3-col {
  margin-top: 24px;
  .col-1-left {
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      padding-right: 37px;
      margin-bottom: 0;
    }
  }
  .col-2-center {
    margin-bottom: 30px;
    @media (min-width: @screen-sm-min) {
      padding-left: 24px;
      padding-right: 22px;
      margin-bottom: 0;
    }
  }
  .col-3-right {
    @media (min-width: @screen-sm-min) {
      padding-left: 37px;
    }
  }
}

.article-list {
	.entry-thumbnail {
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 37px;
    }
  }

  .entry-header {
    margin-bottom: 14px;
    .entry-title {
      font-family: @font-family-arialblack;
      font-size: 15px;
      text-transform: uppercase;
      margin: 0;

      a {
        color: @text-color;
      }
    }
  }

  .entry-body {
    p {
      line-height: 1.45;
    }

    .more-link {
      color: @brand-secondary;
    }
  }
}

/*Footer*/
/*-----*/
.site-footer {
  position: relative;
  background: #fbb900;
  color: #000;
  padding-top: 35px;
  padding-bottom: 85px;

  .wap-back-to-top {
    position: absolute;
    top: -33px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .scrollToTop {
    width: 64px;
    height: 64px;
    background: url("../images/btn-back-top.png") center center no-repeat;
    text-indent: -9999em;
    display: inline-block;
  }

  .footer-col {
    .head {
      margin-top: 40px;
      margin-bottom: 15px;
      .title {
        font-family: @font-family-arialblack;
        font-size: 15px;
        text-transform: uppercase;
        color: #000;
        margin: 0;
      }
    }

    &.footer-col-1 {
      @media (min-width: @screen-lg-min) {
        padding-right: 45px;
      }
      span {
        width: 100%;
        display: block;
        &.web {
          margin-top: 10px;
        }
      }
    }

    &.footer-col-2 {
      @media (min-width: @screen-lg-min) {
        padding-left: 25px;
      }
    }

    &.footer-col-3 {
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        clear: both;
      }
      @media (min-width: @screen-lg-min) {
        padding-left: 0;
      }
    }

    &.footer-col-4 {
      @media (min-width: @screen-lg-min) {
        padding-left: 20px;
        padding-right: 0;
      }
    }

    .content {
      .more-link {
        color: #000;
        display: inline-block;
        margin-top: 10px;
      }
    }

    .footer-crest {
      font-size: 14px;

      img {
        margin-bottom: 10px;
        width: auto;
      }
    }
  }

  .social {
    width: 100%;
    display: inline-block;
    margin-top: 15px;

    li {
      float: left;
      margin-right: 15px;
      @media (min-width: @screen-sm-min) {
        margin-right: 25px;
      }

      @media (min-width: @screen-md-min) {
        margin-right: 15px;
      }

      @media (min-width: @screen-lg-min) {
        margin-right: 25px;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: auto;
      }
    }
  }
}

/* Sub Page */
/*-----------------------------*/

.page-header {
  border-bottom: 0;
  margin: 52px 0 0 0;
  padding-bottom: 0;
  text-align: center;
  h2 {
    margin: 0;
    font-family: @font-family-arialblack;
    font-size: 40px;
    text-transform: uppercase;
    color: @brand-primary;
    line-height: 1;
  }
}

.page-filter {
  margin-top: 45px;

  .search-month, .search-year {
    @media (min-width: @screen-sm-min) {
      padding-right: 0;
    }
  }

  .btn-search {
    @media (min-width: @screen-sm-min) {
      padding-left: 0;
    }

    button.btn {
      @media (min-width: @screen-sm-min) {
        margin-top: 33px;
      }
    }
  }
}

.wrap-list-article {
  margin-top: 65px;

  &.article-list {
    .entry-thumbnail {
      margin-bottom: 14px;
    }

    .entry-body {
      p {
        line-height: 1.6;
      }
    }
  }

  ul.grid-article {
    li.item-article {
      margin-bottom: 55px;
    }
  }

  .entry-meta {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
  }

  .load-more {
    width: 100%;
    text-align: center;
    font-family: @font-family-arialblack;
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px 0;
    a {
      color: @brand-secondary;
    }
  }
}

/* News Article */
/*-------------*/
.page-navigation {
  padding-top: 12px;
  @media (min-width: @screen-lg-min) {
    padding-left: 4px;
    padding-right: 4px;
  }
  .page-navigation-link {
    font-family: @font-family-arialblack;
    font-size: 12px;
    color: #e0071f;
    text-transform: uppercase;
  }
}

.content-area {
  margin-top: 20px;
  @media (min-width: @screen-md-min) {
    margin-top: 73px;
    margin-bottom: 120px;
  }
  &.article-page {
    @media (min-width: @screen-md-min) {
      padding: 0 0 0 0;
    }
  }

  .entry-thumbnail {
    margin-bottom: 15px;
  }

  .entry-header {
    margin-bottom: 20px;
    @media (min-width: @screen-md-min) {
      margin-bottom: 46px;
    }
    .entry-meta {
      font-size: 15px;
    }

    .entry-title {
      font-family: @font-family-arialblack;
      font-size: 34px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      color: #0080c8;
      @media (min-width: @screen-md-min) {
        font-size: 40px;
        line-height: 1;
      }
    }
  }

  .entry-body {
    .entry-content {
      line-height: 1.6;

      a {
        font-weight: bold;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: @font-family-arialblack;
        text-transform: uppercase;
        width: 100%;
        display: inline-block;
        margin: 12px 0;
      }

      img {
        margin: 27px 0;
      }
    }
  }
}

/* Contact Page */
/*-------------*/
.contact-form {
  .form-group {
    label {
      margin-bottom: 4px;
    }

    textarea.form-control {
      height: 380px;
      resize: vertical;
    }
  }

  button.btn {
    margin-top: 4px;
    padding: 0 46px;
  }
}

/*DungHM: Add new css */
#section-new-landing-banner {
  background: url("../images/news-landing-banner-2.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }
}

#section-contact-us-banner {
  background: url("../images/contact-us-banner.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }
}

/*Registration page*/
.registration-info {
  &.content-area {
    margin-top: 52px;
    .entry-header {
      margin-bottom: 33px;
    }
  }
}

#section-registration-banner {
  background: url("../images/registration.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }
}

.registration {
  float: none;
  padding-bottom: 50px;
  font-size: 18px;
  font-family: @font-family-arial;
  color: #474747;
}

/* Default Template */
/*------------------*/
#section-default-banner {
  background: url("../images/default-template.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }
}

.default-template {
  &.content-area {
    margin-top: 50px;
    .entry-header {
      margin-bottom: 35px;
    }
  }
}

/*Raffle Page*/
/*------------*/
#section-raffle-banner {
  background: url("../images/raffle-banner.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }
}

.layoyt-2-col {
  margin-bottom: 35px;
  .content-area {
    margin-top: 50px;
    @media (min-width: @screen-lg-min) {
      padding-right: 50px;
    }

    .entry-header {
      margin-bottom: 35px;
    }
  }
  .images-area {
    margin-top: 50px;
    @media (min-width: @screen-lg-min) {
      padding-left: 0;
    }
    img {
      margin: 20px 0;
    }
  }
}

/*Events Page*/
/*------------*/
#section-events-banner {
  background: url("../images/event_banner.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }

}

.wrap-event-item-list {
	&.wrap-list-article {
		margin-top: 5px;
		.event-item-list {
			border-top: 1px solid #dadada;
			padding-top: 90px;

			.event-item {
    		margin-bottom: 50px;
				.event-left {
					@media (min-width: @screen-lg-min) {
						width: 80%;
					}

					.col-md-5 {
						@media (min-width: @screen-lg-min) {
							width: 39%;
						}
					}

					.col-md-7 {
						@media (min-width: @screen-lg-min) {
							width: 61%;
							padding-left: 18px;
							padding-right: 0;
						}
					}
				}

				.event-right {
					@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
						padding: 0;
					}
					@media (min-width: @screen-lg-min) {
						width: 20%;
					}
				}

				.entry-thumbnail {
					margin-bottom: 24px;
				}

			  .entry-meta {
			    font-size: 15px;
			    font-weight: normal;
			    line-height: 1;
			    margin-bottom: 8px;
			  }

		    .entry-body {
					font-size: 15px;
				}

				.action-link {
					margin-top: 33px;
					@media (min-width: @screen-md-min) {
						margin: 33px 0 0 6px;
					}
					li {
						display: inline-block;
						margin-bottom: 8px;
						width: 100%;
						@media (min-width: @screen-sm-min) {
							width: 32%;
						}
						@media (min-width: @screen-md-min) {
							width: 100%;
						}
						a {
							font-family: @font-family-arialblack;
							font-size: 12px;
							text-transform: uppercase;
							color: @brand-secondary;
							float: left;
							display: table;

							img {
								float: left;
								width: 45px;
								height: 45px;
								margin: 0 12px 0 0;
							}

							span {
								display: table-cell;
								height: 45px;
								vertical-align: middle;
								@media (min-width: @screen-md-min) {
									width: 155px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*Gallery*/
#section-gallery-banner {
  background: url("../images/gallery_banner.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }

}
.filter-line{
  border-bottom: 1px solid #e8e8e8;
  .filter-group{
    float: none;
    margin: 0 auto;

  }
}
.slide {
     width: 33.33333%;
    float: left;
    padding: 5px;
    img{
      margin: 0;
    }
  &.active{
    opacity:1;
    filter:alpha(opacity=100);
   }

  }

  .bottom.pagination{

  }


#slideshow{
  img{
    margin: 0;
  }
}

.controls{
  width: 100%;
  padding: 10px;
  a {
    text-transform: uppercase;
    font-family: @font-family-arialblack;
    color: #e0071f;
    font-size: 13px;
  }
  .prev{
    float: left;
  }

  .next{
    float: right;
  }
}

.image-show{
  padding-top: 5px ;
  
}

.entry-caption{
  width: 100%;
  margin-bottom: 50px;
}

.image-date{
  text-align: center;
  font-family: @font-family-arial;
  font-size: 25px;
}

.image-title{
	margin: 0;
  font-family: @font-family-arialblack;
  font-size: 40px;
  text-align: center;
  color: #0080c8;
}

.gallery-filter{
  .container{
    .form-group {
    	margin-bottom: 9px;
    }
  }
}

.wrap-gallery-view {
	.gallery-view {
    border-top: 1px solid #e8e8e8;
    padding-top: 48px;
	  .title{
	    margin-bottom: 20px;
	    .image-date {
	    	margin: 0;
	    }
	  }
	}
}

.fluid-width-video-wrapper{
  min-height: 521px;
}


/*More info page*/
#section-info-banner {
  background: url("../images/info-banner.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }

}

.wrap-info-view {
	padding-top: 4px;
	.info-view {
    border-top: 1px solid #e8e8e8;
    padding-top: 43px;

    .col-left {
    }

    .col-right {
    	.block-head {
    		@media (min-width: @screen-lg-min) {
    			padding-left: 20px;
    		}
    	}
    }

    .block {
    	margin-bottom: 22px;
    }

    .block-head {
		  margin: 0 0 24px 0;
			h2 {
			  font-family: @font-family-montserratbold;
			  font-size: 30px;
			  color: #d1040e;
			  text-transform: uppercase;
			  margin: 0;
			}
    }

	  .block-list-link {
	  	.block-head {
	  		margin-bottom: 16px;
	  		h2 {
	  			font-family: @font-family-arialblack;
	  		}
	  	}

	  	ul {
	  		li {
	  			padding-left: 20px;
	  			position: relative;
	  			margin-bottom: 15px;
	  			&:before {
				    content: "•";
				    color: @brand-secondary;
					  position: absolute;
					  top: 13px;
					  left: 0;
					  font-size: 37px;
					  line-height: 0;
					}

					a {
						color: #474747;
					}
	  		}
	  	}
	  }

	  .icon{
	    width: 45px;
	    height: 45px;
	    float: left;
	  }

	  .info-entry {
	    float: left;
	    margin: 10px 0 10px 12px;
	    width: 81%;
	    @media (min-width: @screen-lg-min) {
		    width: 60%;
		  }

	    .entry-header {
	      margin: 0 0 13px 0;
		    .entry-title{
		      font-family: @font-family-arialblack;
		      font-size: 15px;
		      margin: 0;
		      text-transform: uppercase;

		      a {
		        color: #000000;
		      }
		    }
	    }

	    .entry-body {
	    	line-height: 1.5;
	    	p.desc {
	    		line-height: 1;
	    		margin: 0;
	    	}
	    }

	    .action-link{
	      color: #d1040e;
	    }
	  }

    .visit-site, .watch-link {
    	.info-entry {
    		.entry-header {
    			margin: 0;
    		}
    	}
    }

	  .info-link {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 32px;
	  }

	  .article-list {
	    .entry-date {
	      font-size: 12px;
	    }
	  }
	}

	.info-view-article-list {
		.info-item {
			margin-bottom: 20px;
		}

		.wrap-entry-thumbnail {
			@media (min-width: @screen-lg-min) {
				width: 38.5%;
			}
	    .entry-thumbnail{
				@media (min-width: @screen-lg-min) {
		      padding: 0px 0 0 20px;
		    }
	      margin-bottom: 0;
	    }
		}

		.wrap-contnet {
			@media (min-width: @screen-lg-min) {
				width: 61%;
			}
			.entry-meta {
				@media (min-width: @screen-md-min) {
					margin-top: -9px;
				}
				margin-bottom: 14px;
			}

			.entry-header {
				margin-bottom: 5px;
			}
		}
	}
}

/* Slider Bottom */
#section-info-banner-bootom {
  background: url("../images/info-banner-bottom.jpg") repeat fixed center 100%;
  height: 150px;
  @media (min-width: @screen-sm-min) {
    height: 568px;
  }
}

.banner-slider-bottom {
	margin-bottom: 2px;
}

/* The Pilgrimage */
#section-thepilgrimage-banner {
  background: url("../images/thepilgrimage-banner.jpg") repeat fixed center 100%;
  height: 300px;
  @media (min-width: @screen-sm-min) {
    height: 1011px;
  }
}

.article-list-title {
	text-align: center;
	padding-top: 37px;
	margin-bottom: 56px;
	h2 {
		margin: 0;
		font-family: @font-family-arialblack;
		font-size: 40px;
		text-transform: uppercase;
		color: @brand-primary;
		line-height: 1.2;
	}
}

.section-thepilgrimage-2col {
	background: url("../images/bkg-block-thepilgrimage.png") no-repeat center top;

	.article-list-left {
		@media (min-width: @screen-lg-min) {
			padding: 0 30px 0 7px;
		}
	}

	.article-list-right {
		@media (min-width: @screen-lg-min) {
			padding: 0 7px 0 30px;
		}
	}
}

.article-list-2 {
	.featured-article {
		margin-bottom: 71px;
	}

	.entry-thumbnail {
		margin-bottom: 15px;
	}

	ul {
		@media (min-width: @screen-lg-min) {
			margin-left: -10px;
		}
		li {
			padding: 0 0 0 30px;
			margin-bottom: 30px;
			background: url("../images/icon-article-list.png") no-repeat left top;
			.entry-header {
				margin-bottom: 3px;
				.entry-title {
					font-size: 18px;
				}
			}

			.entry-body {
				p {
					line-height: 1.6;
				}
			}
		}
	}
}

.article-list-3 {
  .col-xs-12 {
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 0;
    }
  }
	.wrap-entry-thumbnail {
		@media (min-width: @screen-lg-min) {
			padding-right: 0;
		}
	}

	.wrap-entry-content {
		padding-left: 22px;

		.entry-header {
			margin-bottom: 2px;
			.entry-title {
				font-size: 18px;
				text-transform: none;
				line-height: 1;
			}
		}
	}
}

.section-text {
  .entry-header {
    margin-bottom: 26px;
    .entry-title {
      margin: 0;
      color: #0080c8;
      font-family: @font-family-arialblack;
      font-size: 30px;
      text-transform: uppercase;
      @media (min-width: @screen-sm-min) {
        font-size: 40px;
      }
    }
  }

  .entry-content {
    p {
      margin-bottom: 25px;
      @media (min-width: @screen-sm-min) {
        line-height: 1.6;
      }
    }
  }
}

/* Image */
#thepilgrimage-image {
  background: url("../images/thepilgrimage-banner-1.jpg") repeat fixed center 100%;
  height: 150px;
  @media (min-width: @screen-sm-min) {
    height: 568px;
  }
}

.section-link {
  .section-link-inner {
    border-top: 1px solid #dadada;
    padding-top: 50px;

    .col-xs-12 {
      margin-bottom: 20px;
      @media (min-width: @screen-sm-min) {
        margin-bottom: 0;
      }
    }

    .wrap-entry-thumbnail {
      @media (min-width: @screen-lg-min) {
        padding-right: 15px;
      }
    }

    .wrap-entry-content {
      @media (min-width: @screen-lg-min) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 6px;
      }
      .entry-header {
        margin-bottom: 10px;
        .entry-title {
          font-family: @font-family-arialblack;
          font-size: 17px;
          text-transform: uppercase;
          line-height: 1;
          margin: 0;
          @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            font-size: 14px;
          }
          a {
            color: @text-color;
          }
        }
      }

      .entry-body {
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          font-size: 14px;
        }
      }
    }
  }
}